<a href="https://colab.research.google.com/github/jenyadev3/TopResponders/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Задача - построить портрет клиента, склонного к позитивному реагированию на реклама**

***Шаг 1. Загрузка данных***

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("/content/dataset_target_company.csv")

*Просмотр данных*

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15223 entries, 0 to 15222
Data columns (total 37 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   AGREEMENT_RK             15223 non-null  int64
 1   TARGET                   15223 non-null  int64
 2   AGE                      15223 non-null  int64
 3   SOCSTATUS_WORK_FL        15223 non-null  int64
 4   SOCSTATUS_PENS_FL        15223 non-null  int64
 5   GENDER                   15223 non-null  int64
 6   CHILD_TOTAL              15223 non-null  int64
 7   DEPENDANTS               15223 non-null  int64
 8   EDUCATION                15223 non-null  object
 9   MARITAL_STATUS           15223 non-null  object
 10  GEN_INDUSTRY             13856 non-null  object
 11  GEN_TITLE                13856 non-null  object
 12  ORG_TP_STATE             13856 non-null  object
 13  ORG_TP_FCAPITAL          13858 non-null  object
 14  JOB_DIR                  13856 non-null  object
 15  FAMILY_INCOME            15223 non-null  object
 16  PERSONAL_INCOME          15223 non-null  float64
 17  REG_ADDRESS_PROVINCE     15223 non-null  object
 18  FACT_ADDRESS_PROVINCE    15223 non-null  object
 19  POSTAL_ADDRESS_PROVINCE  15223 non-null  object
 20  TP_PROVINCE              14928 non-null  object
 21  REGION_NM                15222 non-null  object
 22  FL_PRESENCE_FL           15223 non-null  int64
 23  OWN_AUTO                 15223 non-null  int64
 24  AUTO_RUS_FL              15223 non-null  int64
 25  HS_PRESENCE_FL           15223 non-null  int64
 26  COT_PRESENCE_FL          15223 non-null  int64
 27  GAR_PRESENCE_FL          15223 non-null  int64
 28  LAND_PRESENCE_FL         15223 non-null  int64
 29  CREDIT                   15223 non-null  float64
 30  TERM                     15223 non-null  int64
 31  FACT_LIVING_TERM         15223 non-null  int64
 32  WORK_TIME                13855 non-null  float64
 33  LOAN_NUM_PAYM            15223 non-null  int64
 34  LOAN_DLQ_NUM             15223 non-null  int64
 35  LOAN_MAX_DLQ_AMT         15223 non-null  float64
 36  DATE_CREDIT              15223 non-null  object
dtypes: float64(4), int64(19), object(14)
memory usage: 4.3+ MB

In [ ]:
df.describe()

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,PERSONAL_INCOME,FL_PRESENCE_FL,...,COT_PRESENCE_FL,GAR_PRESENCE_FL,LAND_PRESENCE_FL,CREDIT,TERM,FACT_LIVING_TERM,WORK_TIME,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ_AMT
count,1.522300e+04,15223.000000,15223.000000,15223.000000,15223.000000,15223.000000,15223.000000,15223.000000,15223.000000,15223.000000,...,15223.000000,15223.000000,15223.000000,15223.000000,15223.000000,1.522300e+04,1.385500e+04,15223.000000,15223.000000,15223.000000
mean,6.540183e+07,0.119030,40.406096,0.909610,0.134468,0.654536,1.099389,0.645208,13853.836323,0.309794,...,0.009788,0.019247,0.043684,14667.959345,8.101031,3.039340e+03,2.922120e+02,7.875977,0.195362,243.021626
std,4.568181e+06,0.323835,11.601068,0.286748,0.341165,0.475535,0.995411,0.812252,9015.467617,0.462424,...,0.098451,0.137397,0.204398,12147.873496,4.094090,2.624554e+05,2.436483e+04,7.955747,0.685022,836.100116
min,5.991015e+07,0.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,24.000000,0.000000,...,0.000000,0.000000,0.000000,2000.000000,3.000000,-2.600000e+01,1.000000e+00,1.000000,0.000000,0.000000
25%,6.192092e+07,0.000000,30.000000,1.000000,0.000000,0.000000,0.000000,0.000000,8000.000000,0.000000,...,0.000000,0.000000,0.000000,6500.000000,6.000000,4.100000e+01,2.400000e+01,4.000000,0.000000,0.000000
50%,6.437100e+07,0.000000,39.000000,1.000000,0.000000,1.000000,1.000000,0.000000,12000.000000,0.000000,...,0.000000,0.000000,0.000000,11550.000000,6.000000,1.080000e+02,4.800000e+01,5.000000,0.000000,0.000000
75%,6.708802e+07,0.000000,50.000000,1.000000,0.000000,1.000000,2.000000,1.000000,17000.000000,1.000000,...,0.000000,0.000000,0.000000,19170.000000,10.000000,2.040000e+02,1.100000e+02,8.000000,0.000000,0.000000
max,7.529224e+07,1.000000,67.000000,1.000000,1.000000,1.000000,10.000000,7.000000,250000.000000,1.000000,...,1.000000,1.000000,1.000000,119700.000000,36.000000,2.810200e+07,2.867959e+06,114.000000,13.000000,28012.200000

In [ ]:
df.head()

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,EDUCATION,MARITAL_STATUS,...,GAR_PRESENCE_FL,LAND_PRESENCE_FL,CREDIT,TERM,FACT_LIVING_TERM,WORK_TIME,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ_AMT,DATE_CREDIT
0,59910150,0,49,1,0,1,2,1,Среднее специальное,Состою в браке,...,0,0,8000.00,6,220,18.0,6,2,1580.0,2017-10-01 15:09:09
1,59910230,0,32,1,0,1,3,3,Среднее,Состою в браке,...,0,0,21650.00,6,137,97.0,6,1,4020.0,2020-10-09 18:58:35
2,59910525,0,52,1,0,1,4,0,Неполное среднее,Состою в браке,...,0,0,33126.00,12,251,84.0,11,0,0.0,2015-05-05 11:10:07
3,59910803,0,39,1,0,1,1,1,Высшее,Состою в браке,...,0,0,8491.82,6,36,168.0,6,3,1590.0,2016-06-19 10:05:49
4,59911781,0,30,1,0,0,0,0,Среднее,Состою в браке,...,0,0,21990.00,12,83,101.0,16,2,2230.0,2016-03-13 14:22:06

In [ ]:
df.tail()

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,EDUCATION,MARITAL_STATUS,...,GAR_PRESENCE_FL,LAND_PRESENCE_FL,CREDIT,TERM,FACT_LIVING_TERM,WORK_TIME,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ_AMT,DATE_CREDIT
15218,75291424,0,25,1,0,0,1,1,Среднее,Состою в браке,...,0,0,13450.0,10,121,48.0,21,0,0.0,2018-04-11 17:38:21
15219,75291888,0,51,1,0,1,2,0,Среднее специальное,Состою в браке,...,0,0,8991.0,6,300,156.0,3,0,0.0,2021-12-21 18:09:58
15220,75291923,0,22,1,0,1,1,1,Среднее,Не состоял в браке,...,0,0,2700.0,6,48,48.0,5,0,0.0,2016-11-26 10:13:32
15221,75291960,0,60,0,1,1,2,0,Среднее,Вдовец/Вдова,...,0,0,24357.0,10,270,NaN,3,0,0.0,2017-04-07 11:27:54
15222,75292242,0,37,1,0,0,2,0,Среднее,Состою в браке,...,0,0,10245.0,6,432,36.0,3,0,0.0,2018-03-12 18:26:55

Исходя из первичного просмотра было выявлено:

фрейм содержит 15222 записи, 37 колонок

во многих колонках недостает записей
понятно какие типы данных нужно будет менять

Пока данные не менялись, дальнейшая предобработка будет произведена в следующем этапе

***Шаг 2. Первичная обработка данных***

**Скорректировать заголовки**

*Смена названий заголовков*

In [ ]:
df.columns = new_columns = ['id','target','age','is_employed','is_pensioner','gender','childs','dependants','education','marital_status','industry',
               'job_title','org_type_state','org_type_capital','job_field','family_income','personal_income','reg_province','fact_address',
               'postal_province','tp_province','region','has_real_state','own_auto','rus_auto','has_house','has_cottage',"has_garage",'has_land',
               'credit','term','residence_duration','work_experience','number_of_payments','overdue_payments','max_of_amount','credit_date']

*Дубликаты*

In [ ]:
df.info()

In [ ]:
dupl = df[df.duplicated()]
dupl

df.duplicated().any()

In [ ]:
len(df)

13854

На всякий случай смотрю нет ли такого чтобы один айди повторялся дважды

In [ ]:
print(df["id"].nunique)

<bound method IndexOpsMixin.nunique of 0        59910150
1        59910230
2        59910525
3        59910803
4        59911781
           ...
15217    75291338
15218    75291424
15219    75291888
15220    75291923
15222    75292242
Name: id, Length: 13854, dtype: int64>

Всего строк 1522, а уникальных айди - 13854
Разница - 1368 записей.Это значит что есть повторяющиеся айди(один и тот же человек встречается более 1 раза) или есть NaN
Чтобы разобраться почему так:
есть ли пропуски в id?

In [27]:
df["id"].isna().sum()

np.int64(0)

In [ ]:
(df["id"].value_counts() > 1).sum()

Т.к результат ноль следовательно все строки с айди

In [31]:
dupl_id = df[df.duplicated(subset="id",keep=False)].sort_values("id")
dupl_id

Empty DataFrame
Columns: [id, target, age, is_employed, is_pensioner, gender, childs, dependants, education, marital_status, industry, job_title, org_type_state, org_type_capital, job_field, family_income, personal_income, reg_province, fact_address, postal_province, tp_province, region, has_real_state, own_auto, rus_auto, has_house, has_cottage, has_garage, has_land, credit, term, residence_duration, work_experience, number_of_payments, overdue_payments, max_of_amount, credit_date]
Index: []

*Аномальные значения*

In [ ]:
df.head()

*Проверить чтобы не было отрицательных значений*

In [ ]:
num_cols = df.select_dtypes(include=np.number).columns
df = df[(df[num_cols] >= 0).all(axis=1)]
pd.set_option('display.max_columns', None)

df.head()

*Изменение типов*

In [ ]:
print(pd.DataFrame(df.dtypes,columns=["dtype"]))
print(df["credit_date"].dtype)

In [ ]:
df["credit_date"] = pd.to_datetime(df["credit_date"])

*Максимальные/минимальные значения*

In [ ]:
print(df[num_cols].agg(["min","max"]))

Из полученного результата уже видно что фрейм имеет странные значения(например, чтобы проработать 2 867959.0 месяцев это надо проработать 238 996 лет, что невозможно)

In [ ]:
df = df.drop(df[df["work_experience"] == "2867959.0"].index)
df = df.drop(df[df["residence_duration"] == "28101997.0"].index)

*Поиск пропусков*