<a href="https://colab.research.google.com/github/jenyadev3/TopResponders/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Задача - построить портрет клиента, склонного к позитивному реагированию на реклама**

***Шаг 1. Загрузка данных***

In [12]:
import pandas as pd
import numpy as np
df = pd.read_csv("/content/dataset_target_company.csv")

*Просмотр данных*

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
df.tail()

Исходя из первичного просмотра было выявлено:

фрейм содержит 15222 записи, 37 колонок

во многих колонках недостает записей
понятно какие типы данных нужно будет менять

Пока данные не менялись, дальнейшая предобработка будет произведена в следующем этапе

***Шаг 2. Первичная обработка данных***

**Скорректировать заголовки**

*Смена названий заголовков*

In [ ]:
df.columns = new_columns = ['id','target','age','is_employed','is_pensioner','gender','childs','dependants','education','marital_status','industry',
               'job_title','org_type_state','org_type_capital','job_field','family_income','personal_income','reg_province','fact_address',
               'postal_province','tp_province','region','has_real_state','own_auto','rus_auto','has_house','has_cottage',"has_garage",'has_land',
               'credit','term','residence_duration','work_experience','number_of_payments','overdue_payments','max_of_amount','credit_date']

df.describe()

*Смена регистра названий столбцов*

In [40]:
df.columns = (df.columns.str.lower())

*Дубликаты*

In [ ]:
df.info()

In [52]:
dupl = df[df.duplicated()]
dupl

df.duplicated().any()

np.False_

На всякий случай смотрю нет ли такого чтобы один айди повторялся дважды

In [ ]:
print(df["id"].nunique)

*Аномальные значения*

In [ ]:
df.head()

*Проверить чтобы не было отрицательных значений*

In [ ]:
num_cols = df.select_dtypes(include=np.number).columns
df = df[(df[num_cols] >= 0).all(axis=1)]
pd.set_option('display.max_columns', None)

df.head()

*Изменение типов*

In [ ]:
print(pd.DataFrame(df.dtypes,columns=["dtype"]))
print(df["credit_date"].dtype)

In [109]:
df["credit_date"] = pd.to_datetime(df["credit_date"])

*Максимальные/минимальные значения*

In [113]:
print(df[num_cols].agg(["min","max"]))

           id  target  age  is_employed  is_pensioner  gender  childs  \
min  59910150       0   21            0             0       0       0
max  75292242       1   67            1             1       1      10

     dependants  personal_income  has_real_state  own_auto  rus_auto  \
min           0             24.0               0         0         0
max           7         250000.0               1         2         1

     has_house  has_cottage  has_garage  has_land    credit  term  \
min          0            0           0         0    2000.0     3
max          1            1           1         1  119700.0    36

     residence_duration  work_experience  number_of_payments  \
min                   0              1.0                   1
max            28101997        2867959.0                 114

     overdue_payments  max_of_amount
min                 0            0.0
max                13        28012.2

Из полученного результата видно что residence_duration work_experience имеют странные значения.