<a href="https://colab.research.google.com/github/jenyadev3/TopResponders/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Задача - построить портрет клиента, склонного к позитивному реагированию на реклама**

***Шаг 1. Загрузка данных***

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("/content/dataset_target_company.csv")

*Просмотр данных*

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15223 entries, 0 to 15222
Data columns (total 37 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   AGREEMENT_RK             15223 non-null  int64
 1   TARGET                   15223 non-null  int64
 2   AGE                      15223 non-null  int64
 3   SOCSTATUS_WORK_FL        15223 non-null  int64
 4   SOCSTATUS_PENS_FL        15223 non-null  int64
 5   GENDER                   15223 non-null  int64
 6   CHILD_TOTAL              15223 non-null  int64
 7   DEPENDANTS               15223 non-null  int64
 8   EDUCATION                15223 non-null  object
 9   MARITAL_STATUS           15223 non-null  object
 10  GEN_INDUSTRY             13856 non-null  object
 11  GEN_TITLE                13856 non-null  object
 12  ORG_TP_STATE             13856 non-null  object
 13  ORG_TP_FCAPITAL          13858 non-null  object
 14  JOB_DIR                  13856 non-null  object
 15  FAMILY_INCOME            15223 non-null  object
 16  PERSONAL_INCOME          15223 non-null  float64
 17  REG_ADDRESS_PROVINCE     15223 non-null  object
 18  FACT_ADDRESS_PROVINCE    15223 non-null  object
 19  POSTAL_ADDRESS_PROVINCE  15223 non-null  object
 20  TP_PROVINCE              14928 non-null  object
 21  REGION_NM                15222 non-null  object
 22  FL_PRESENCE_FL           15223 non-null  int64
 23  OWN_AUTO                 15223 non-null  int64
 24  AUTO_RUS_FL              15223 non-null  int64
 25  HS_PRESENCE_FL           15223 non-null  int64
 26  COT_PRESENCE_FL          15223 non-null  int64
 27  GAR_PRESENCE_FL          15223 non-null  int64
 28  LAND_PRESENCE_FL         15223 non-null  int64
 29  CREDIT                   15223 non-null  float64
 30  TERM                     15223 non-null  int64
 31  FACT_LIVING_TERM         15223 non-null  int64
 32  WORK_TIME                13855 non-null  float64
 33  LOAN_NUM_PAYM            15223 non-null  int64
 34  LOAN_DLQ_NUM             15223 non-null  int64
 35  LOAN_MAX_DLQ_AMT         15223 non-null  float64
 36  DATE_CREDIT              15223 non-null  object
dtypes: float64(4), int64(19), object(14)
memory usage: 4.3+ MB

In [3]:
df.describe()

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,PERSONAL_INCOME,FL_PRESENCE_FL,...,COT_PRESENCE_FL,GAR_PRESENCE_FL,LAND_PRESENCE_FL,CREDIT,TERM,FACT_LIVING_TERM,WORK_TIME,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ_AMT
count,1.522300e+04,15223.000000,15223.000000,15223.000000,15223.000000,15223.000000,15223.000000,15223.000000,15223.000000,15223.000000,...,15223.000000,15223.000000,15223.000000,15223.000000,15223.000000,1.522300e+04,1.385500e+04,15223.000000,15223.000000,15223.000000
mean,6.540183e+07,0.119030,40.406096,0.909610,0.134468,0.654536,1.099389,0.645208,13853.836323,0.309794,...,0.009788,0.019247,0.043684,14667.959345,8.101031,3.039340e+03,2.922120e+02,7.875977,0.195362,243.021626
std,4.568181e+06,0.323835,11.601068,0.286748,0.341165,0.475535,0.995411,0.812252,9015.467617,0.462424,...,0.098451,0.137397,0.204398,12147.873496,4.094090,2.624554e+05,2.436483e+04,7.955747,0.685022,836.100116
min,5.991015e+07,0.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,24.000000,0.000000,...,0.000000,0.000000,0.000000,2000.000000,3.000000,-2.600000e+01,1.000000e+00,1.000000,0.000000,0.000000
25%,6.192092e+07,0.000000,30.000000,1.000000,0.000000,0.000000,0.000000,0.000000,8000.000000,0.000000,...,0.000000,0.000000,0.000000,6500.000000,6.000000,4.100000e+01,2.400000e+01,4.000000,0.000000,0.000000
50%,6.437100e+07,0.000000,39.000000,1.000000,0.000000,1.000000,1.000000,0.000000,12000.000000,0.000000,...,0.000000,0.000000,0.000000,11550.000000,6.000000,1.080000e+02,4.800000e+01,5.000000,0.000000,0.000000
75%,6.708802e+07,0.000000,50.000000,1.000000,0.000000,1.000000,2.000000,1.000000,17000.000000,1.000000,...,0.000000,0.000000,0.000000,19170.000000,10.000000,2.040000e+02,1.100000e+02,8.000000,0.000000,0.000000
max,7.529224e+07,1.000000,67.000000,1.000000,1.000000,1.000000,10.000000,7.000000,250000.000000,1.000000,...,1.000000,1.000000,1.000000,119700.000000,36.000000,2.810200e+07,2.867959e+06,114.000000,13.000000,28012.200000

In [4]:
df.head()

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,EDUCATION,MARITAL_STATUS,...,GAR_PRESENCE_FL,LAND_PRESENCE_FL,CREDIT,TERM,FACT_LIVING_TERM,WORK_TIME,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ_AMT,DATE_CREDIT
0,59910150,0,49,1,0,1,2,1,Среднее специальное,Состою в браке,...,0,0,8000.00,6,220,18.0,6,2,1580.0,2017-10-01 15:09:09
1,59910230,0,32,1,0,1,3,3,Среднее,Состою в браке,...,0,0,21650.00,6,137,97.0,6,1,4020.0,2020-10-09 18:58:35
2,59910525,0,52,1,0,1,4,0,Неполное среднее,Состою в браке,...,0,0,33126.00,12,251,84.0,11,0,0.0,2015-05-05 11:10:07
3,59910803,0,39,1,0,1,1,1,Высшее,Состою в браке,...,0,0,8491.82,6,36,168.0,6,3,1590.0,2016-06-19 10:05:49
4,59911781,0,30,1,0,0,0,0,Среднее,Состою в браке,...,0,0,21990.00,12,83,101.0,16,2,2230.0,2016-03-13 14:22:06

In [5]:
df.tail()

,AGREEMENT_RK,TARGET,AGE,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,GENDER,CHILD_TOTAL,DEPENDANTS,EDUCATION,MARITAL_STATUS,...,GAR_PRESENCE_FL,LAND_PRESENCE_FL,CREDIT,TERM,FACT_LIVING_TERM,WORK_TIME,LOAN_NUM_PAYM,LOAN_DLQ_NUM,LOAN_MAX_DLQ_AMT,DATE_CREDIT
15218,75291424,0,25,1,0,0,1,1,Среднее,Состою в браке,...,0,0,13450.0,10,121,48.0,21,0,0.0,2018-04-11 17:38:21
15219,75291888,0,51,1,0,1,2,0,Среднее специальное,Состою в браке,...,0,0,8991.0,6,300,156.0,3,0,0.0,2021-12-21 18:09:58
15220,75291923,0,22,1,0,1,1,1,Среднее,Не состоял в браке,...,0,0,2700.0,6,48,48.0,5,0,0.0,2016-11-26 10:13:32
15221,75291960,0,60,0,1,1,2,0,Среднее,Вдовец/Вдова,...,0,0,24357.0,10,270,NaN,3,0,0.0,2017-04-07 11:27:54
15222,75292242,0,37,1,0,0,2,0,Среднее,Состою в браке,...,0,0,10245.0,6,432,36.0,3,0,0.0,2018-03-12 18:26:55

Исходя из первичного просмотра было выявлено:

фрейм содержит 15222 записи, 37 колонок

во многих колонках недостает записей
понятно какие типы данных нужно будет менять

Пока данные не менялись, дальнейшая предобработка будет произведена в следующем этапе

***Шаг 2. Первичная обработка данных***

**Скорректировать заголовки**

*Смена названий заголовков*

In [6]:
df.columns = new_columns = ['id','target','age','is_employed','is_pensioner','gender','childs','dependants','education','marital_status','industry',
               'job_title','org_type_state','org_type_capital','job_field','family_income','personal_income','reg_province','fact_address',
               'postal_province','tp_province','region','has_real_state','own_auto','rus_auto','has_house','has_cottage',"has_garage",'has_land',
   'credit','term','residence_duration','work_experience','number_of_payments','overdue_payments','max_of_amount','credit_date']
df

,id,target,age,is_employed,is_pensioner,gender,childs,dependants,education,marital_status,...,has_garage,has_land,credit,term,residence_duration,work_experience,number_of_payments,overdue_payments,max_of_amount,credit_date
0,59910150,0,49,1,0,1,2,1,Среднее специальное,Состою в браке,...,0,0,8000.00,6,220,18.0,6,2,1580.0,2017-10-01 15:09:09
1,59910230,0,32,1,0,1,3,3,Среднее,Состою в браке,...,0,0,21650.00,6,137,97.0,6,1,4020.0,2020-10-09 18:58:35
2,59910525,0,52,1,0,1,4,0,Неполное среднее,Состою в браке,...,0,0,33126.00,12,251,84.0,11,0,0.0,2015-05-05 11:10:07
3,59910803,0,39,1,0,1,1,1,Высшее,Состою в браке,...,0,0,8491.82,6,36,168.0,6,3,1590.0,2016-06-19 10:05:49
4,59911781,0,30,1,0,0,0,0,Среднее,Состою в браке,...,0,0,21990.00,12,83,101.0,16,2,2230.0,2016-03-13 14:22:06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15218,75291424,0,25,1,0,0,1,1,Среднее,Состою в браке,...,0,0,13450.00,10,121,48.0,21,0,0.0,2018-04-11 17:38:21
15219,75291888,0,51,1,0,1,2,0,Среднее специальное,Состою в браке,...,0,0,8991.00,6,300,156.0,3,0,0.0,2021-12-21 18:09:58
15220,75291923,0,22,1,0,1,1,1,Среднее,Не состоял в браке,...,0,0,2700.00,6,48,48.0,5,0,0.0,2016-11-26 10:13:32
15221,75291960,0,60,0,1,1,2,0,Среднее,Вдовец/Вдова,...,0,0,24357.00,10,270,NaN,3,0,0.0,2017-04-07 11:27:54
15222,75292242,0,37,1,0,0,2,0,Среднее,Состою в браке,...,0,0,10245.00,6,432,36.0,3,0,0.0,2018-03-12 18:26:55

*Дубликаты*

In [7]:
dupl = df[df.duplicated()]
df.duplicated().any()

np.False_

На всякий случай смотрю нет ли такого чтобы один айди повторялся дважды

In [8]:
print(df["id"].unique)

<bound method Series.unique of 0        59910150
1        59910230
2        59910525
3        59910803
4        59911781
           ...
15218    75291424
15219    75291888
15220    75291923
15221    75291960
15222    75292242
Name: id, Length: 15223, dtype: int64>

In [9]:
df["id"].isna().sum()

np.int64(0)

In [10]:
(df["id"].value_counts() > 1).sum()
df

,id,target,age,is_employed,is_pensioner,gender,childs,dependants,education,marital_status,...,has_garage,has_land,credit,term,residence_duration,work_experience,number_of_payments,overdue_payments,max_of_amount,credit_date
0,59910150,0,49,1,0,1,2,1,Среднее специальное,Состою в браке,...,0,0,8000.00,6,220,18.0,6,2,1580.0,2017-10-01 15:09:09
1,59910230,0,32,1,0,1,3,3,Среднее,Состою в браке,...,0,0,21650.00,6,137,97.0,6,1,4020.0,2020-10-09 18:58:35
2,59910525,0,52,1,0,1,4,0,Неполное среднее,Состою в браке,...,0,0,33126.00,12,251,84.0,11,0,0.0,2015-05-05 11:10:07
3,59910803,0,39,1,0,1,1,1,Высшее,Состою в браке,...,0,0,8491.82,6,36,168.0,6,3,1590.0,2016-06-19 10:05:49
4,59911781,0,30,1,0,0,0,0,Среднее,Состою в браке,...,0,0,21990.00,12,83,101.0,16,2,2230.0,2016-03-13 14:22:06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15218,75291424,0,25,1,0,0,1,1,Среднее,Состою в браке,...,0,0,13450.00,10,121,48.0,21,0,0.0,2018-04-11 17:38:21
15219,75291888,0,51,1,0,1,2,0,Среднее специальное,Состою в браке,...,0,0,8991.00,6,300,156.0,3,0,0.0,2021-12-21 18:09:58
15220,75291923,0,22,1,0,1,1,1,Среднее,Не состоял в браке,...,0,0,2700.00,6,48,48.0,5,0,0.0,2016-11-26 10:13:32
15221,75291960,0,60,0,1,1,2,0,Среднее,Вдовец/Вдова,...,0,0,24357.00,10,270,NaN,3,0,0.0,2017-04-07 11:27:54
15222,75292242,0,37,1,0,0,2,0,Среднее,Состою в браке,...,0,0,10245.00,6,432,36.0,3,0,0.0,2018-03-12 18:26:55

Т.к результат ноль следовательно все строки с айди

In [11]:
dupl_id = df[df.duplicated(subset="id",keep=False)].sort_values("id")
dupl_id

Empty DataFrame
Columns: [id, target, age, is_employed, is_pensioner, gender, childs, dependants, education, marital_status, industry, job_title, org_type_state, org_type_capital, job_field, family_income, personal_income, reg_province, fact_address, postal_province, tp_province, region, has_real_state, own_auto, rus_auto, has_house, has_cottage, has_garage, has_land, credit, term, residence_duration, work_experience, number_of_payments, overdue_payments, max_of_amount, credit_date]
Index: []

[0 rows x 37 columns]

*Аномальные значения*

In [12]:
df.head()

,id,target,age,is_employed,is_pensioner,gender,childs,dependants,education,marital_status,...,has_garage,has_land,credit,term,residence_duration,work_experience,number_of_payments,overdue_payments,max_of_amount,credit_date
0,59910150,0,49,1,0,1,2,1,Среднее специальное,Состою в браке,...,0,0,8000.00,6,220,18.0,6,2,1580.0,2017-10-01 15:09:09
1,59910230,0,32,1,0,1,3,3,Среднее,Состою в браке,...,0,0,21650.00,6,137,97.0,6,1,4020.0,2020-10-09 18:58:35
2,59910525,0,52,1,0,1,4,0,Неполное среднее,Состою в браке,...,0,0,33126.00,12,251,84.0,11,0,0.0,2015-05-05 11:10:07
3,59910803,0,39,1,0,1,1,1,Высшее,Состою в браке,...,0,0,8491.82,6,36,168.0,6,3,1590.0,2016-06-19 10:05:49
4,59911781,0,30,1,0,0,0,0,Среднее,Состою в браке,...,0,0,21990.00,12,83,101.0,16,2,2230.0,2016-03-13 14:22:06

*Проверить чтобы не было отрицательных значений*

In [13]:
num_cols = df.select_dtypes(include=np.number).columns
(df[num_cols]<0).any().any()

np.True_

*Изменение типов*

In [14]:
print(pd.DataFrame(df.dtypes,columns=["dtype"]))
print(df["credit_date"].dtype)

                      dtype
id                    int64
target                int64
age                   int64
is_employed           int64
is_pensioner          int64
gender                int64
childs                int64
dependants            int64
education            object
marital_status       object
industry             object
job_title            object
org_type_state       object
org_type_capital     object
job_field            object
family_income        object
personal_income     float64
reg_province         object
fact_address         object
postal_province      object
tp_province          object
region               object
has_real_state        int64
own_auto              int64
rus_auto              int64
has_house             int64
has_cottage           int64
has_garage            int64
has_land              int64
credit              float64
term                  int64
residence_duration    int64
work_experience     float64
number_of_payments    int64
overdue_payments      int64
max_of_amount       float64
credit_date          object
object

In [15]:
df["credit_date"] = pd.to_datetime(df["credit_date"])

*Максимальные/минимальные значения*

In [16]:
print(df[num_cols].agg(["min","max"]))

           id  target  age  is_employed  is_pensioner  gender  childs  \
min  59910150       0   21            0             0       0       0
max  75292242       1   67            1             1       1      10

     dependants  personal_income  has_real_state  ...  has_cottage  \
min           0             24.0               0  ...            0
max           7         250000.0               1  ...            1

     has_garage  has_land    credit  term  residence_duration  \
min           0         0    2000.0     3                 -26
max           1         1  119700.0    36            28101997

     work_experience  number_of_payments  overdue_payments  max_of_amount
min              1.0                   1                 0            0.0
max        2867959.0                 114                13        28012.2

[2 rows x 23 columns]

In [17]:
pd.set_option("display.max_columns",None)
df.head()

,id,target,age,is_employed,is_pensioner,gender,childs,dependants,education,marital_status,industry,job_title,org_type_state,org_type_capital,job_field,family_income,personal_income,reg_province,fact_address,postal_province,tp_province,region,has_real_state,own_auto,rus_auto,has_house,has_cottage,has_garage,has_land,credit,term,residence_duration,work_experience,number_of_payments,overdue_payments,max_of_amount,credit_date
0,59910150,0,49,1,0,1,2,1,Среднее специальное,Состою в браке,Торговля,Рабочий,Частная компания,Без участия,Вспомогательный техперсонал,от 10000 до 20000 руб.,5000.0,Оренбургская область,Оренбургская область,Оренбургская область,Оренбургская область,ПОВОЛЖСКИЙ,0,0,0,0,0,0,0,8000.00,6,220,18.0,6,2,1580.0,2017-10-01 15:09:09
1,59910230,0,32,1,0,1,3,3,Среднее,Состою в браке,Торговля,Рабочий,Индивидуальный предприниматель,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,12000.0,Кабардино-Балкария,Кабардино-Балкария,Кабардино-Балкария,Ставропольский край,ЮЖНЫЙ,0,0,0,0,0,0,0,21650.00,6,137,97.0,6,1,4020.0,2020-10-09 18:58:35
2,59910525,0,52,1,0,1,4,0,Неполное среднее,Состою в браке,Информационные технологии,Специалист,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,9000.0,Иркутская область,Иркутская область,Иркутская область,Иркутская область,ВОСТОЧНО-СИБИРСКИЙ,0,0,0,1,0,0,0,33126.00,12,251,84.0,11,0,0.0,2015-05-05 11:10:07
3,59910803,0,39,1,0,1,1,1,Высшее,Состою в браке,Образование,Руководитель среднего звена,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 20000 до 50000 руб.,25000.0,Ростовская область,Ростовская область,Ростовская область,Ростовская область,ЮЖНЫЙ,1,0,0,0,0,0,0,8491.82,6,36,168.0,6,3,1590.0,2016-06-19 10:05:49
4,59911781,0,30,1,0,0,0,0,Среднее,Состою в браке,Государственная служба,Специалист,Государственная комп./учреж.,Без участия,Участие в основ. деятельности,от 10000 до 20000 руб.,12000.0,Кабардино-Балкария,Кабардино-Балкария,Кабардино-Балкария,Ставропольский край,ЮЖНЫЙ,0,0,0,1,0,0,0,21990.00,12,83,101.0,16,2,2230.0,2016-03-13 14:22:06

Из полученного результата уже видно что фрейм имеет однозначно странные значения(например, чтобы проработать 2 867959.0 месяцев это надо проработать 238 996 лет, что невозможно)
Удаляю их

In [18]:
df = df.drop(df[df["work_experience"] == "2867959.0"].index)
df = df.drop(df[df["residence_duration"] == "28101997.0"].index)

*Определение границ аномалий*

In [19]:
df["work_experience"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15223 entries, 0 to 15222
Series name: work_experience
Non-Null Count  Dtype
--------------  -----
13855 non-null  float64
dtypes: float64(1)
memory usage: 119.1 KB

Определение процентелей

In [20]:
Q1 = df["work_experience"].quantile(0.25)
Q3 = df["work_experience"].quantile(0.75)

Межквартальный размах

In [21]:
IQR = Q3 - Q1

Определение границ аномалий

In [22]:
lower_level = Q1 - 1.5 * IQR
print(lower_level)

-105.0

In [23]:
upper_level = Q3 + 1.5 * IQR
print(upper_level)

239.0

Фильтрация аномалий

In [24]:
anomalies = df[(df['work_experience'] < lower_level) | (df['work_experience'] > upper_level)]
print(anomalies["work_experience"])

38       240.0
55       324.0
64       360.0
76       252.0
81       300.0
         ...
15134    336.0
15147    240.0
15186    252.0
15195    360.0
15206    384.0
Name: work_experience, Length: 1229, dtype: float64

In [25]:
df[["work_experience","age"]].dropna().sort_values(by="work_experience", ascending=False).head(50)

       work_experience  age
8984         2867959.0   25
4296           10000.0   50
2532            4320.0   58
5375            3500.0   64
9852            1500.0   38
1092            1312.0   45
11720           1254.0   59
13928           1120.0   28
9983             976.0   42
10677            864.0   28
10171            860.0   30
676              780.0   53
7711             730.0   62
3323             612.0   39
14958            612.0   32
2983             600.0   44
13477            576.0   54
8864             540.0   50
9536             528.0   65
4122             528.0   61
4571             519.0   63
1068             516.0   63
14737            516.0   60
1293             516.0   61
11978            516.0   64
7054             516.0   64
14566            516.0   60
7253             516.0   62
6805             504.0   62
2788             504.0   64
11940            504.0   29
2446             504.0   58
4442             504.0   62
13181            492.0   59
8585             492.0   54
5795             480.0   64
15054            480.0   54
5060             480.0   58
7265             480.0   60
3039             480.0   40
9970             480.0   60
1685             480.0   61
507              480.0   60
11685            480.0   63
1288             480.0   60
12767            480.0   57
770              480.0   58
8278             480.0   56
242              480.0   60
822              480.0   59

Считаем возраст начала работы

In [26]:
df["work_ages"] = df["work_experience"]/12
df["start_age"] = df["age"] - (df["work_ages"])
df["start_age"]

0        47.500000
1        23.916667
2        45.000000
3        25.000000
4        21.583333
           ...
15218    21.000000
15219    38.000000
15220    18.000000
15221          NaN
15222    34.000000
Name: start_age, Length: 15223, dtype: float64

Находим тех кто начал раньше 18

In [27]:
df["age_anom"] = df["start_age"] < 18
df["age_anom"]

0        False
1        False
2        False
3        False
4        False
         ...
15218    False
15219    False
15220    False
15221    False
15222    False
Name: age_anom, Length: 15223, dtype: bool

Отбираем только аномальные записи, сортируем по возрасту начала работы от самого большого

In [29]:
age_anom1 = df[df["age_anom"]][["age","work_ages","start_age"]]
age_anom1 = age_anom1.sort_values(by="start_age")
age_anom1.head(50)

       age      work_ages      start_age
8984    25  238996.583333 -238971.583333
4296    50     833.333333    -783.333333
2532    58     360.000000    -302.000000
5375    64     291.666667    -227.666667
9852    38     125.000000     -87.000000
13928   28      93.333333     -65.333333
1092    45     109.333333     -64.333333
11720   59     104.500000     -45.500000
10677   28      72.000000     -44.000000
10171   30      71.666667     -41.666667
9983    42      81.333333     -39.333333
14958   32      51.000000     -19.000000
11940   29      42.000000     -13.000000
676     53      65.000000     -12.000000
3323    39      51.000000     -12.000000
2983    44      50.000000      -6.000000
13179   33      36.000000      -3.000000
3039    40      40.000000       0.000000
7711    62      60.833333       1.166667
8864    50      45.000000       5.000000
13477   54      48.000000       6.000000
6113    44      36.000000       8.000000
7930    33      24.000000       9.000000
13980   34      25.000000       9.000000
6724    47      38.000000       9.000000
9803    40      30.000000      10.000000
9180    25      15.000000      10.000000
9144    24      14.000000      10.000000
2179    23      13.000000      10.000000
4580    45      34.000000      11.000000
7801    26      15.000000      11.000000
6569    38      26.000000      12.000000
10923   29      17.000000      12.000000
4155    40      27.333333      12.666667
8585    54      41.000000      13.000000
148     43      30.000000      13.000000
14912   31      17.000000      14.000000
3797    39      25.000000      14.000000
4191    33      19.000000      14.000000
15054   54      40.000000      14.000000
11598   31      16.666667      14.333333
8900    53      38.083333      14.916667
4627    30      15.000000      15.000000
5011    24       9.000000      15.000000
14237   33      17.833333      15.166667
11115   30      14.750000      15.250000
2373    31      15.583333      15.416667
10806   46      30.000000      16.000000
8897    23       7.000000      16.000000
8278    56      40.000000      16.000000

Фильтруем (удаляем тех кто начал работать меньше чем с 18)

In [30]:
df_clean = df[df["start_age"] >= 18].copy()
print(df_clean[["age","work_ages","start_age","is_employed","is_pensioner","gender"]].head(50))
print("Количество записей при очистке:",len(df_clean))

    age  work_ages  start_age  is_employed  is_pensioner  gender
0    49   1.500000  47.500000            1             0       1
1    32   8.083333  23.916667            1             0       1
2    52   7.000000  45.000000            1             0       1
3    39  14.000000  25.000000            1             0       1
4    30   8.416667  21.583333            1             0       0
5    29   3.333333  25.666667            1             0       0
6    35   0.500000  34.500000            1             0       0
7    41   0.500000  40.500000            1             0       1
8    53  13.000000  40.000000            1             0       0
9    43   6.000000  37.000000            1             0       1
10   54  10.000000  44.000000            1             0       1
11   26   2.250000  23.750000            1             0       0
12   62   4.000000  58.000000            0             1       0
13   45   6.000000  39.000000            1             0       1
14   38  10.000000  28.000000            1             0       1
15   41  14.000000  27.000000            1             0       1
17   29   0.666667  28.333333            1             0       1
18   34   1.083333  32.916667            1             0       0
19   28   5.000000  23.000000            1             0       1
20   37  16.000000  21.000000            1             0       1
21   42   6.333333  35.666667            1             0       1
22   45  10.000000  35.000000            1             0       1
23   32   9.000000  23.000000            1             0       1
24   33   2.000000  31.000000            1             0       1
25   38   1.500000  36.500000            1             0       1
26   27   5.000000  22.000000            1             0       1
27   31   1.250000  29.750000            1             0       1
28   40   0.166667  39.833333            1             0       0
30   40   8.000000  32.000000            1             0       1
31   27   9.000000  18.000000            1             0       0
32   49   1.666667  47.333333            1             0       1
33   29   1.000000  28.000000            1             0       0
34   61   8.000000  53.000000            1             0       1
35   43   1.000000  42.000000            1             0       1
36   38   0.500000  37.500000            1             0       0
37   38  10.000000  28.000000            1             0       0
38   49  20.000000  29.000000            1             0       0
39   44  15.000000  29.000000            1             0       1
41   28   0.250000  27.750000            1             0       1
42   31   8.000000  23.000000            1             0       0
44   54   3.000000  51.000000            1             0       1
45   48  12.000000  36.000000            1             0       1
46   24   2.500000  21.500000            1             0       0
47   48  11.000000  37.000000            1             0       1
48   43   6.000000  37.000000            1             0       1
49   23   2.500000  20.500000            1             0       0
50   54  10.000000  44.000000            1             0       1
51   37   1.166667  35.833333            1             0       0
52   47   1.166667  45.833333            1             0       1
54   24   3.000000  21.000000            1             0       0
Количество записей при очистке: 13738

In [ ]:
df[df["is_pensioner"] == 1][["age","is_pensioner"]]

In [56]:

df[df["is_pensioner"] == 1][["age","is_pensioner","work_ages","start_age"]]

       age  is_pensioner  work_ages  start_age
12      62             1        4.0       58.0
16      65             1        NaN        NaN
29      63             1        NaN        NaN
40      61             1        NaN        NaN
43      59             1        NaN        NaN
...    ...           ...        ...        ...
15195   51             1       30.0       21.0
15196   64             1        NaN        NaN
15197   61             1        NaN        NaN
15201   56             1        7.0       49.0
15221   60             1        NaN        NaN

[2047 rows x 4 columns]

*Поиск пропусков*

In [ ]:
print(df.isna().sum())